
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.title {
    margin: auto;
    font-family: 'Cuprum', Bold;
    text-align: center;
    /* width: 100px; */
}

.title-inset {
    border: 1px solid white;
    color: white;
    display: inline-block;
    padding: 5px 15px;
}

.down {
    padding-right: 15px;
    text-align: right;
    vertical-align: top;
    color: white;
}
.low {
    font-family: 'Marck Script';
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: white;
    /* vertical-align: bottom; */
}

.red {
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    color: red;
    background-color: #A52A2A;
    display: inline-block;
}

.theme1 {
    background-color: #1C1C1C;
}

.theme2 {
    background-color: #A52A2A;
}

.theme2 .red {
    background-color: #1C1C1C;
}

.theme1 .red {
    background-color: #A52A2A;
}
